/* variables section */

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --accent-color: #2196f3;
  --border-color: #eeeeee;
  --hero-footer-bg-color: #2f303a;
  --our-team-bg-color: #f5f5f4;
  --text-medium: 500;
  --text-bold: 700;
  --text-extra-bold: 900;
}

/* general body selectors section */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

/* repeating classes section */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-nav-link {
  font-weight: var(--text-medium);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.main-section-title {
  font-weight: var(--text-bold);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.contacts {
  font-style: normal;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* index.html */

/* header-section */

.header-logo-link {
  color: var(--secondary-text-color);
}

.header-logo-span {
  color: var(--accent-color);
}

/* nav-section */

.link-current-studio,
.link-current-portfolio,
.link-current-email {
  color: var(--accent-color);
}

.nav-link-studio,
.nav-link-portfolio,
.nav-link-contacts {
  color: var(--secondary-text-color);
}

.nav-link-email,
.nav-link-tel {
  color: var(--main-text-color);
}

.nav-link-studio:hover,
.nav-link-studio:focus,
.nav-link-portfolio:hover,
.nav-link-portfolio:focus,
.nav-link-contacts:hover,
.nav-link-contacts:focus {
  color: var(--accent-color);
}

.nav-link-email:hover,
.nav-link-email:focus,
.nav-link-tel:hover,
.nav-link-tel:focus {
  color: var(--accent-color);
}

/* main-section ghhghghgh */

/* hero-section */

.hero-section {
  border: 1px solid var(--hero-footer-bg-color);
  background-color: var(--hero-footer-bg-color);
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
}

.hero-section-button {
  font-weight: var(--text-bold);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  border: 1px solid var(--our-team-bg-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--our-team-bg-color);
}

.hero-section-button:hover,
.hero-section-button:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* company-advantages-section */

.company-advantages-item-title {
  font-weight: var(--text-bold);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.company-advantages-item-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* what-we-do-section */

.what-we-do-title {
  color: var(--secondary-text-color);
}

/* our-team-section */

.our-team-section {
  border: 1px solid var(--our-team-bg-color);
  background-color: var(--our-team-bg-color);
}

.our-team-title {
  color: var(--secondary-text-color);
}

.our-team-card-master-name {
  font-weight: var(--text-medium);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.our-team-card-master-speciality {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* footer-section */

.footer-section {
  background-color: var(--hero-footer-bg-color);
  border: 1px solid var(--hero-footer-bg-color);
}

.footer-logo-link {
  color: var(--tertiary-text-color);
}

.footer-logo-span {
  color: var(--accent-color);
}

/* contacts-section */

.contacts-link-address {
  color: var(--tertiary-text-color);
}

.contacts-link-email,
.contacts-link-tel {
  color: var(--main-text-color);
}

.contacts-link-address:hover,
.contacts-link-address:focus,
.contacts-link-email:hover,
.contacts-link-email:focus,
.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--accent-color);
}

/* portfolio.html */

/* portfolio-section */

/* filters-section */

.filters-item-button {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  border: 1px solid var(--our-team-bg-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--our-team-bg-color);
}

.filters-item-button:hover,
.filters-item-button:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
}

/* projects-section */

.projects-card {
  width: 370px;
  height: 404px;
  border: 1px solid var(--border-color);
  background-color: var(--tertiary-text-color);
}

.projects-card-title {
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.projects-card-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
