:root {
  --black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --whisper: #eeeeee;
  --blue: #2196f3;
  --black-rock: #2f303a;
  --ghost-white: #f5f4fa;
}

:root {
  --text-medium: 500;
  --text-bold: 700;
  --text-extra-bold: 900;
}

body {
  font-family: 'Roboto' sans-serif;
  color: var(--black);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* index.html */

/* header-section */

.header-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  color: var(--black);
}

.header-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  color: var(--blue);
}

/* nav-section */

.nav-link-studio,
.nav-link-portfolio,
.nav-link-contacts {
  font-weight: var(--text-medium);
  font-size: 14px;
  line-height: 1.17;
  color: var(--black);
}

.nav-link-email,
.nav-link-tel {
  font-style: var(--text-medium);
  font-size: 14px;
  line-height: 1.17;
  color: var(--grey);
}

.nav-link-studio:hover,
.nav-link-studio:focus,
.nav-link-portfolio:hover,
.nav-link-portfolio:focus,
.nav-link-contacts:hover,
.nav-link-contacts:focus {
  color: var(--blue);
}

.nav-link-email:hover,
.nav-link-email:focus,
.nav-link-tel:hover,
.nav-link-tel:focus {
  color: var(--blue);
}

/* main-section */

/* her-section */
.hero-section {
  background-color: var(--black-rock);
  border: 1px solid var(--black-rock);
}
.hero-section-title {
  font-weight: var(--text-extra-bold);
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
}

.hero-section-button {
  font-weight: var(--text-bold);
  font-size: 16px;
  line-height: 1.875;
  border: 1px solid var(--ghost-white);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--ghost-white);
  color: var(--black);
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

/* company-advantages-section */

.company-advantages-item-title {
  font-weight: var(--text-bold);
  font-size: 14px;
  line-height: 1.17;
}

.company-advantages-item-info {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

/* what-we-do-section */

.what-we-do-title {
  font-weight: var(--text-bold);
  font-size: 36px;
  line-height: 1.17;
}

/* our-team-section */

.our-team-section {
  background-color: var(--ghost-white);
  border: 1px solid var(--ghost-white);
}

.our-team-title {
  font-weight: var(--text-bold);
  font-size: 36px;
  line-height: 1.17;
  color: var(--black);
}

.our-team-card-1,
.our-team-card-2,
.our-team-card-3,
.our-team-card-4 {
  width: 270px;
  height: 368px;
  background-color: var(--white);
}

.our-team-first-card-master-name,
.our-team-second-card-master-name,
.our-team-third-card-master-name,
.our-team-fourth-card-master-name {
  font-weight: var(--text-medium);
  font-size: 16px;
  line-height: 1.17;
  color: var(--black);
}
.our-team-first-card-master-speciality,
.our-team-second-card-master-speciality,
.our-team-third-card-master-speciality,
.our-team-fourth-card-master-speciality {
  font-size: 16px;
  line-height: 1.17;
  color: var(--grey);
}

/* footer-section */

.footer-section {
  background-color: var(--black-rock);
  border: 1px solid var(--black-rock);
}

.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  color: var(--white);
}

.footer-logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  color: var(--blue);
}

/* contacts-section */

.contacts-link-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}

.contacts-link-email,
.contacts-link-tel {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

.contacts-link-address:hover,
.contacts-link-address:focus,
.contacts-link-email:hover,
.contacts-link-email:focus,
.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--blue);
}

/* portfolio.html */

/* portfolio-section */

/* filters-section */

.filters-item-button-1,
.filters-item-button-2,
.filters-item-button-3,
.filters-item-button-4,
.filters-item-button-5 {
  font-weight: var(--medium);
  font-size: 16px;
  border: 1px solid var(--ghost-white);
  border-radius: 4px;
  line-height: 1.625;
  cursor: pointer;
  background-color: var(--ghost-white);
  color: var(--black);
}

.filters-item-button-1:hover,
.filters-item-button1:focus,
.filters-item-button-2:hover,
.filters-item-button2:focus,
.filters-item-button-3:hover,
.filters-item-button3:focus,
.filters-item-button-4:hover,
.filters-item-button4:focus,
.filters-item-button-5:hover,
.filters-item-button5:focus {
  background-color: var(--blue);
  color: var(--white);
}

/* projects-section */

.project-1-card,
.project-2-card,
.project-3-card,
.project-4-card,
.project-5-card,
.project-6-card,
.project-7-card,
.project-8-card,
.project-9-card {
  width: 370px;
  height: 404px;
  border: 1px solid var(--whisper);
  background-color: var(--white);
}

.project-1-title,
.project-2-title,
.project-3-title,
.project-4-title,
.project-5-title,
.project-6-title,
.project-7-title,
.project-8-title,
.project-9-title {
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 2;
  color: var(--black);
}
.project-1-type,
.project-2-type,
.project-3-type,
.project-4-type,
.project-5-type,
.project-6-type,
.project-7-type,
.project-8-type,
.project-9-type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
}
