/* variables section */

:root {
  --black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --blue: #2196f3;
}

:root {
  --whisper: #eeeeee;
  --black-rock: #2f303a;
  --ghost-white: #f5f4fa;
}

:root {
  --text-medium: 500;
  --text-bold: 700;
  --text-extra-bold: 900;
}

/* general body selectors section */

body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  color: var(--black);
}

/* repeating classes section */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--text-bold);
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-nav-link {
  font-weight: var(--text-medium);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main-section-title {
  font-weight: var(--text-bold);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* index.html */

/* header-section */

.header-logo-link {
  color: var(--black);
}

.header-logo-span {
  color: var(--blue);
}

/* nav-section */

.nav-link-studio,
.nav-link-portfolio,
.nav-link-contacts {
  color: var(--black);
}

.nav-link-email,
.nav-link-tel {
  color: var(--grey);
}

.nav-link-studio:hover,
.nav-link-studio:focus,
.nav-link-portfolio:hover,
.nav-link-portfolio:focus,
.nav-link-contacts:hover,
.nav-link-contacts:focus {
  color: var(--blue);
}

.nav-link-email:hover,
.nav-link-email:focus,
.nav-link-tel:hover,
.nav-link-tel:focus {
  color: var(--blue);
}

/* main-section */

/* hero-section */

.hero-section {
  background-color: var(--black-rock);
  border: 1px solid var(--black-rock);
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white);
}

.hero-section-button {
  font-weight: var(--text-bold);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 1px solid var(--ghost-white);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--ghost-white);
  color: var(--black);
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

/* company-advantages-section */

.company-advantages-item-title {
  font-weight: var(--text-bold);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
}

.company-advantages-item-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

/* what-we-do-section */

.what-we-do-title {
  color: var(--black);
}

/* our-team-section */

.our-team-section {
  background-color: var(--ghost-white);
  border: 1px solid var(--ghost-white);
}

.our-team-title {
  color: var(--black);
}

.our-team-card {
  width: 270px;
  height: 368px;
  background-color: var(--white);
}

.our-team-card-master-name {
  font-weight: var(--text-medium);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
}
.our-team-card-master-speciality {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--grey);
}

/* footer-section */

.footer-section {
  background-color: var(--black-rock);
  border: 1px solid var(--black-rock);
}

.footer-logo-link {
  color: var(--white);
}

.footer-logo-span {
  color: var(--blue);
}

/* contacts-section */

.contacts-link-address {
  color: var(--white);
}

.contacts-link-email,
.contacts-link-tel {
  color: var(--grey);
}

.contacts-link-address:hover,
.contacts-link-address:focus,
.contacts-link-email:hover,
.contacts-link-email:focus,
.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--blue);
}

/* portfolio.html */

/* portfolio-section */

/* filters-section */

.filters-item-button {
  font-weight: var(--medium);
  font-size: 16px;
  border: 1px solid var(--ghost-white);
  border-radius: 4px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--ghost-white);
  color: var(--black);
}

.filters-item-button:hover,
.filters-item-button:focus {
  background-color: var(--blue);
  color: var(--white);
}

/* projects-section */

.projects-card {
  width: 370px;
  height: 404px;
  border: 1px solid var(--whisper);
  background-color: var(--white);
}

.projects-card-title {
  font-weight: var(--text-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}
.projects-card-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
}
